  <div class="row">
    <div class="span section-title">
      Education
    </div>

    <div class="span section-body">

      <div class="clearfix">
        <div class="row">
          <div class="span">
            <div class="item-name">Web Application Development</div>
            <div class="item-desc">Dev Bootcamp, Chicago, IL</div>
          </div>
          <div class="item-period pull-right span">Graduated November 2013</div>
        </div>
        <div class="margin-top-10">
          <ul>
            <li>Rigorous web development immersion program; utilized a class lab setting modeled after workplace</li>
            <li>70-100 hours per week, for 12 weeks, developed countless programs</li>
            <li>Learned numerous productivity techniques including: pair  programming, code reviewing, test-driven development and managing workflow</li>
          </ul>
        </div>
      </div>

      <div class="inner-seperator"></div>

      <div class="clearfix">
        <div class="row">
          <div class="span">
            <div class="item-name">B.A. Economics</div>
            <div class="item-desc">The George Washington University, Washington, D.C.</div>
          </div>
          <div class="item-period pull-right span">Graduated May 2012</div>
        </div>
        <div class="margin-top-10">
          <ul>
            <li><b>Thesis:</b> Earned award nomination and perfect score for senior thesis, "Pitcher Productivity and the Major League Baseball Labor Market." </li>
            <li>Used OLS regression, multiple other statistical tests to support arguments</li>
            <li>Granted special access to proprietary database belonging to award winning author Tom Tango</li>
            <li>Graduated with 3.2 GPA in economics and political science</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <!-- /education-->