  <div class="row">
    <div class="span section-title">
      Objective
    </div>
    <div class="span section-body">
      I am seeking a challenging web development position that will help grow my skill set. I am an enthusiastic programmer striving to find my potential, and I feel rewarded when I help teammates and colleagues reach for theirs. If you offer me the opportunity to contribute to your business, I promise to repay you with my dedication and best work.
    </div>
  </div>