  <div class="row">
    <div class="span section-title">
      Professional Skills
    </div>

    <div class="span section-body">

      <div class="clearfix">

        <div class="subject-name">Web Development</div>
        <table>
          <tr>
            <td class="skills-column">
              <ul>
                <li>ActiveRecord</li>
                <li>Agile Development</li>
                <li>AngularJS, Node.JS</li>
                <li>CSS, Compass, Sass</li>
                <li>Git</li>
                <li>HTML and Markdown</li>
              </ul>
            </td>
            <td class="skills-column" id="column2">
              <li><b>Javascript, AJAX, jQuery</b></li>
              <li>RSpec, BDD, TDD</li>
              <li>Ruby Motion and iOS</li>
              <li><b>Ruby on Rails</b></li>
              <li><b>Sinatra</b></li>
              <li>SQL</li>
            </td>
          </tr>
        </table>

        <div class="margin-bottom-10"></div>

        <div class="subject-name">Other Technical</div>
        <table>
          <tr>
            <td>
              <ul>
                <li>Content Management, Blogging</li>
                <li>Database Design, Data Modeling</li>
                <li>Economics, Statistics</li>
                <li>News Writing</li>
              </ul>
            </td>
            <td>
              <ul style="padding-left:6px;">
                <li>Internet Marketing</li>
                <li>Software Project Management</li>
                <li>Regression Analysis</li>
                <li>Stata, Visual Basic</li>
              </ul>
            </td>
          </tr>
        </table>

      </div>

    </div>
  </div>
  <!-- /skills-->