<div class="row">
    <div class="span section-title">
      Work Experience <span style="font-size:14px">(Web-Development Related)</span>
    </div>

    <div class="span section-body">

      <div class="clearfix">
        <div class="row">
          <div class="span">
            <div class="item-name">FreeSwim.co, Alexandria, Virginia</div>
            <div class="item-desc">Ruby Developer</div>
          </div>
          <div class="item-period pull-right span">April 2014 - Present</div>
        </div>
        <div class="margin-top-10">
          <ul>
            <li>Member of three-person Ruby and iOS development team</li>
            <li>Build both customized website modules and stand-alone web-based applications</li>
            <li>Directed development and deployment of FreeSwim.co website </li>
            <li>Broker deals with clients and affiliates as manager of business operations</li>
            <li>Utilize cutting-edge technologies like Ruby on Rails, JQuery, AJAX, NodeJS, PHP, RubyMotion, iOS</li>
          </ul>
        </div>
      </div>

      <div class="inner-seperator"></div>

      <div class="clearfix">
        <div class="row">
          <div class="span">
            <div class="item-name">Greater Than > Web Development, Arlington, VA</div>
            <div class="item-desc">Freelance Web Developer</div>
          </div>
          <div class="item-period pull-right span">February 2014 - Present</div>
        </div>
        <div class="margin-top-10">
          <ul>
            <li>Plan, develop, deploy and manage Rails and Sinatra applications for local businesses</li>
            <li>Provide UI, UX web design and static site design services</li>
            <li>Develop and/or integrate modules into production applications</li>
            <li>Build booking and practice management software for medical offices and small businesses</li>
            <li>Emphasize SEO and partner with clients to strengthen their internet marketing platforms</li>
          </ul>
        </div>
      </div>

      <div class="inner-seperator"></div>

      <div class="clearfix">
        <div class="row">
          <div class="span">
            <div class="item-name">Dev Bootcamp, Chicago, IL</div>
            <div class="item-desc">Teaching Assistant</div>
          </div>
          <div class="item-period pull-right span">November 2013 - February 2014</div>
        </div>
        <div class="margin-top-10">
          <ul>
            <li>Taught students Ruby on Rails, Javascript, testing, Git and agile workflow design with Phase 3 instructors</li>
            <li>Pair-programmed with students, gave them code reviews and actionable feedback on their final projects</li>
          </ul>
        </div>
      </div>

      <div class="inner-seperator"></div>

      <div class="clearfix">
        <div class="row">
          <div class="span">
            <div class="item-name">TKG, LLC, Wilmington, DE</div>
            <div class="item-desc">Assistant Account Manager</div>
          </div>
          <div class="item-period pull-right span">September 2010 – October 2012</div>
        </div>
        <div class="margin-top-10">
          <ul>
            <li>Partnered with businesses to optimize online marketing campaigns</li>
            <li>Employed skills in affiliate marketing, content development and promotional writing</li>
            <li>Identified and tracked key performance metrics to increase customers' returns on investments</li>
            <li>Developed, monitored and optimized pay-per-click campaigns with targeting and keyword optimization strategies</li>
          </ul>
        </div>
      </div>
    </div>
  </div>